body,
html {
  width: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: gainsboro;
  height: 250px;
  width: 100%;
}

h1 {
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

header p {
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin: 40px 0;
}

.buttons div {
  border: 2px solid gainsboro;
  padding: 5px;
}

.screenShots {
  border-top: 2px solid gainsboro;
}

.img {
  background-color: gainsboro;
  width: 200px;
  height: 200px;
  margin: 50px auto;
  text-align: center;
}

.custom-slide {
  display: flex;
  justify-content: center;
  padding-bottom: 15px;
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
